body {
  color: blue;
  margin: 1em;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47a3da;
}

h1 {
  font-size: 2.5em;
  padding: 1em;
  border-bottom: 1px solid #eee;
  margin: 1em;
  font-weight: 300;

}

article {
  color: #999999;
  font-weight: lighter;
  margin: 2em;
  padding: 1em;
}

p {
  color: #999999;
  font-weight: lighter;
  margin: 1em;
  padding: 1em;}

h4 {
  padding: 1em;
  margin: 1em;
  text-align: left;
  }
